@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* border: 1px solid white; */
 
}

::-webkit-scrollbar{
 display: none;
 /* color: rgb(98, 135, 236);
 color: rgb(247, 107, 107);
 color: rgb(233, 230, 230);
  */
}
.hero-h1{
  font-stretch: wider;
}

/* ::-webkit-scrollbar-track{

}

::-webkit-scrollbar-thumb{

} */